@use 'tokens/styles/tokens';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
  background: var(--color-bg-default);
  line-height: var(--line-height-normal);
}

lucide-icon,
svg {
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
  box-sizing: border-box;
}